@import "common";

.icon-bofang:before {
  content: "\e623"!important;
}

.fix-btn-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  z-index: 10;
  ul {
    @include flexbox();
    @include box-align(center);
    &.only-text {
      li {
        a {
          line-height: .6rem;
          font-size: $fz-sm;
        }
      }
    }
    li {
      @include flex(1);
      a {
        display: block;
        color: $color-normal;
        line-height: 1;
        padding: .1rem 0;
        font-size: .16rem;
        i {
          display: block;
          font-size: .42rem;
          &.change-icon {
            display: none;
          }
        }
        &.main-btn {
          display: inline-block;
          padding: .05rem .2rem;
          @include x-border-radius(.1rem);
          background-color: $color-success;
          i {
            color: #ffffff;
            font-size: .5rem;
          }
        }
      }
      &.active {
        a {
          color: $color-success;
          i {
            &.normal-icon {
              display: none;
            }
            &.change-icon {
              display: block;
            }
          }
        }
      }
    }
  }
}

.head-img-box {
  position: relative;
  .head-img-link {
    position: relative;
    display: block;
    img {
      width: 100%;
      vertical-align: top;
    }
  }
  .pic-info {
    position: absolute;
    bottom: .15rem;
    right: .15rem;
    padding: .2rem .5rem .2rem .22rem;
    line-height: .25rem;
    font-size: .22rem;
    color: #d5dade;
    background-color: rgba(0, 0, 0, 0.8);
    i {
      position: absolute;
      right: .2rem;
      bottom: .2rem;
      font-size: .2rem;
    }
  }
}

.header-weather-box {
  position: absolute;
  top: .3rem;
  left: .3rem;
  color: #fff;
  line-height: 1;
  text-shadow: 1px 1px 0 $color-darker;
  dt {
    margin-bottom: .08rem;
    font-size: .42rem;
    small {
      font-size: .24rem;
    }
  }
  dd {
    font-size: .34rem;
    font-weight: bold;
    small {
      font-size: .24rem;
      font-weight: normal;
    }
  }
}

.ui-panel {
  margin-top: $space-sm;
  .weui_panel_hd {
    padding: $space-sm $space-normal $space-xs;
    font-size: .3rem;
    color: $color-darker;
    &:after {
      left: $space-normal;
    }
  }
}

.article-wrap {
  background-color: #fff;
}

.panel-inner {
  padding: $space-sm $space-normal;
}

.article-body {
  padding: $space-sm $space-normal;
  line-height: .46rem;
  h2 {
    font-size: $fz-big;
    padding-bottom: $space-xs;
    margin-bottom: $space-sm;
    margin-top: $space-sm;
    border-bottom: 2px solid #565a5c;
  }
  p {
    margin-bottom: $space-sm;
  }

}

.place-describe {
  &.open {
    .describe-body {
      max-height: inherit;
    }
    .control-btn {
      i {
        &.icon-unfold {
          display: none;
        }
        &.icon-fold {
          display: inline-block;
        }
      }
    }
  }
  .describe-body {
    max-height: 2.76rem;
    line-height: .46rem;
    overflow: hidden;
    text-align: justify;
  }
  .control-btn {
    text-align: center;
    i {
      color: $color-darker;
      font-size: .2rem;
      &.icon-fold {
        display: none;
      }
    }
  }
}

.address-hd {
  padding-right: 1rem !important;
  dl {
    font-size: $fz-sm;
    line-height: .38rem;
    @include x-clearfix();
    dt {
      float: left;
      margin-right: $space-normal;
    }
    dd {
      overflow: hidden;
      color: $color-normal;
    }
  }
  .icon-ditu {
    position: absolute;
    right: $space-normal;
    top: .2rem;
    color: $color-success;
  }
}

.dl-horizontal {
  @include x-clearfix();
  dt {
    float: left;
    width: 1.3rem;
    @include x-text-overflow(ellipsis);
    color: $color-darker;
    margin-bottom: $space-xs;
  }
  dd {
    margin-left: 1.6rem;
    overflow: hidden;
    @include x-clearfix();
    margin-bottom: $space-xs;
  }
}

.index-video {
  background-color: #fff;
  text-align: center;
  .index-video-hd {
    dl {
      width: 3.2rem;
      margin: 0 auto;
      color: $color-darker;
      padding: $space-sm 0;
      dt {
        font-size: $fz-big;
        border-bottom: 1px solid #565a5c;
      }
      dd {
        font-family: Arial;
        font-weight: bold;
        font-size: .3rem;
      }
    }
  }
  .index-video-fd {
    padding: $space-normal 0;
  }
}

.more-video {
  display: inline-block;
  padding: .15rem .5rem;
  color: $color-normal;
  font-size: $fz-normal;
  i {
    font-size: $fz-sm;
  }
  &:hover {
    background-color: #fbfbfb;
  }
}

.index-video-bd {
  .swiper-container {
    width: 80%;
    overflow: visible;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 5.3rem;
    height: 3.74rem;
    &:before {
      content: "\e623";
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -.36rem;
      margin-left: -.36rem;
      font-family: "iconfont" !important;
      line-height: 1;
      font-size: .72rem;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
      color: #ffffff;
      text-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
    }
  }
  .swiper-pagination-bullet-active {
    background: #30c793;
  }
}

.index-tab-wrap {
  background-color: #fff;
  .weui_navbar {
    background-color: transparent;
    &:after {
      display: none;
    }
    & + .weui_tab_bd {
      padding-top: .92rem;
    }
  }
  .weui_navbar_item {
    padding: $space-sm 0 $space-sm;
    color: $color-darker;
    font-size: $fz-big;
    &:after {
      display: none;
    }
    &.weui_bar_item_on {
      background-color: transparent;
      color: $color-success;
      border-bottom: 1px solid $color-success;
    }
  }
}

.ui-media-box {
  padding: $space-normal $space-normal $space-sm;
  @include flexbox();
  position: relative;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  & + .ui-media-box {
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      border-top: 1px solid #E5E5E5;
      color: #E5E5E5;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      left: $space-normal;
    }
  }
  .ui-media-hd {
    margin-right: .25rem;
    width: .84rem;
    height: .84rem;
    line-height: .84rem;
    text-align: center;
    & > a {
      display: block;
      width: 100%;
      height: 100%;
    }
    .ui-media-thumb {
      width: 100%;
      height: 100%;
      vertical-align: top;
      @include x-border-radius(50%);
    }
  }
  .ui-media-bd {
    min-width: 0;
    @include flex(1);
  }
}

.ui-media-title {
  font-weight: normal;
  line-height: .48rem;
  a {
    font-size: .26rem;
    color: $color-darker;
    &.ui-author-sm {
      display: inline-block;
      img {
        width: .7rem;
        height: .7rem;
        margin-right: $space-xs;
        vertical-align: middle;
        @include x-border-radius(50%);
        margin-bottom: $space-xs;
      }
    }
  }
  .pull-right {
    color: $color-light;
    font-size: .22rem;
    line-height: .7rem;
  }
}

.ui-media-desc {
  font-size: $fz-normal;
  line-height: .44rem;
  a {
    display: block;
    color: $color-normal;
  }
}

.ui-media-img {
  padding-top: $space-sm;
  @include x-clearfix();
  li {
    float: left;
    width: 1.86rem;
    height: 1.86rem;
    margin-right: .1rem;
    margin-bottom: .1rem;
    &:nth-child(3n) {
      margin-right: 0;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      @include x-background-size(cover);
      background-position: center;
    }
  }
}

.ui-media-video {
  padding: $space-xs 0;
  a.media-video-link {
    &:before {
      content: "\e623";
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -.36rem;
      margin-left: -.36rem;
      font-family: "iconfont" !important;
      line-height: 1;
      font-size: .72rem;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
      color: #ffffff;
      text-shadow: 0 0 5px rgba(51, 51, 51, 0.5)
    }
  }
  .media-video-link {
    position: relative;
    display: block;
    width: 5.8rem;
    height: 3.1rem;
    @include x-background-size(cover);
    &.playing {
      .media-video-btn {
        display: none;
      }
      video {
        @include x-opacity(1);
      }
    }
    .media-video-btn {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -.36rem;
      margin-left: -.36rem;
      line-height: 1;
      font-size: .72rem;
      font-style: normal;
      color: #ffffff;
      text-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
      z-index: 1;
    }
    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      @include x-opacity(0);
    }
  }
}

.ui-media-image {
  padding: $space-xs 0;
  .media-image-link {
    position: relative;
    display: block;
    width: 5.8rem;
    height: 3.1rem;
    background: no-repeat center center;
    @include x-background-size(cover);
  }
}

.ui-media-control {
  padding: $space-xs 0;
  @include x-clearfix();
  & > span {
    line-height: .44rem;
    font-size: $fz-xs;
  }
  .media-control-btns {
    float: right;
  }
}

.media-btn {
  padding: 0 $space-xs;
  display: inline-block;
  color: $color-normal;
  font-size: $fz-xs;
  border: 1px solid $color-border;
  line-height: .44rem;
  & + .media-btn {
    margin-left: 0.02rem;
  }
  &:hover, &:active {
    background-color: #e5e5e5;
  }
  &.selected {
    i {
      color: $color-danger;
    }
  }
  @include x-border-radius(2px);
  i {
    vertical-align: middle;
    margin-right: .08rem;
    font-size: .26rem;
  }
}

.ui-media-enjoy {
  .author-list {
    @include x-clearfix();
    li {
      float: left;
      width: .5rem;
      height: .5rem;
      margin-bottom: $space-xs;
      & + li {
        margin-left: $space-xs;
      }
      @include x-border-radius(.25rem);
      img {
        width: 100%;
        height: 100%;
        @include x-border-radius(50%);
      }
    }
  }
}

a.ui-media-box {
  color: $color-normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.weui_panel_access {
  .weui_panel_ft {
    padding: $space-sm $space-normal .24rem;
    color: $color-light;
    font-size: $fz-sm;
    &:after {
      display: none;
    }
  }
}

.ui-media-audio {
  margin: .1rem 0;
}

.ui-audio-bar {
  position: relative;
  width: 4.25rem;
  height: .66rem;
  padding: .3rem .2rem 0 .6rem;
  background-color: $color-success;
  @include x-border-radius(0 .18rem 0 .18rem);
  &.playing {
    .ui-audio-progress {
      .audio-progress-inner {
        width: 100%;
      }
    }
  }
  .ui-audio-progress {
    height: .04rem;
    background-color: #28a77b;
    @include x-border-radius(0.2rem);
    overflow: hidden;
    .audio-progress-inner {
      width: 0;
      height: 100%;
      background-color: #1b946a;
      @include x-transition(linear);
    }
  }
  .ui-audio-data {
    text-align: right;
    color: #ffffff;
    font-size: $fz-xs;
  }
  .audio-btn {
    position: absolute;
    top: .15rem;
    left: .2rem;
    line-height: 1;
    color: #fff;
    i {
      font-size: $fz-larger;
    }
  }
}

.index-other-wrap {
  background-color: #ffffff;
  padding-top: $space-normal;
  .other-header {
    width: 1.18rem;
    height: 1.24rem;
    margin: 0 auto;
    background: url(../images/other-header.png) 0 0 no-repeat;
    @include x-background-size(contain);
  }
}

.other-list-wrap {
  padding: $space-normal 0 $space-normal $space-normal;
  .other-item {
    position: relative;
    display: block;
    width: 2rem;
    height: 1.8rem;
    background-position: center;
    @include x-background-size(cover);
    color: #ffffff;
    &:before {
      content: "";
      background-color: rgba(51, 51, 51, 0.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    dl {
      position: absolute;
      bottom: $space-sm;
      left: $space-sm;
      right: 0;
      line-height: 1.2;
      z-index: 2;
      padding: 0 $space-xs;
      dt {
        font-size: $fz-sm;
        @include x-text-overflow(ellipsis);
      }
      dd {
        font-size: $fz-xs;
      }
    }
  }
}

.fix-right-control {
  position: fixed;
  bottom: 2rem;
  right: $space-normal;
}

.catalogue-btn, .go-top {
  display: block;
  width: .8rem;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  z-index: 10;
  background-color: rgba(48, 199, 147, 0.9);
  color: #ffffff;
  @include x-border-radius(.04rem);
  @include x-box-shadow(0 0 5px rgba(51, 51, 51, 0.3));
  i {
    vertical-align: middle;
    font-size: .28rem;
  }
}

.go-top {
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: $space-xs;
  i {
    font-size: .4rem;
    color: $color-darker;
  }
}

.model-drop {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);
  @include x-transition(all 0.3s ease);
  display: none;
}

.side-menu-bar {
  position: fixed;
  right: 0;
  width: 70%;
  height: 100%;
  top: 0;
  z-index: 1000;
  background: #ffffff;
  @include x-transform(translateX(100%));
  @include x-transition(all 0.3s ease);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &.open {
    @include x-transform(translateX(0));
  }
}

.catalogue-hd {
  padding: $space-sm $space-sm;
  font-size: $fz-big;
  color: $color-darker;
}

.catalogue-list {
  padding: 0 $space-sm 0 .7rem;
  list-style: lower-roman;
  li {
    a {
      display: block;
      padding: $space-sm $space-sm;
      font-size: $fz-normal;
      color: $color-darker;
    }
  }
}

.weibo-header {
  background-color: #fff;
  padding: $space-sm $space-normal;
}

.weibo-hd {
  font-size: $fz-sm;
  margin-bottom: $space-sm;
  span {
    color: $color-success;
    margin-right: $space-xs;
  }
  img {
    width: .5rem;
    height: .5rem;
    margin-right: $space-xs;
    line-height: .5rem;
    vertical-align: middle;
    @include x-border-radius(50%);
  }
}

.weibo-bd {
  .weui_cell {
    background-color: #f7f7f7;
    padding: $space-xs $space-xs;
    .weui_textarea {
      background-color: transparent;
    }
    .weui_textarea_counter {
      position: absolute;
      bottom: $space-xs;
      right: $space-sm;
    }
  }
}

.weibo-fd {
  padding-top: $space-xs;
  label {
    position: relative;
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: $color-light;
    font-size: $fz-sm;
    input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @include x-opacity(0);
    }
    i {
      display: inline-block;
      margin-top: -1px;
      color: $color-light;
      vertical-align: middle;
      font-size: $fz-normal;
    }
    .icon-checked {
      display: none;
      color: $color-success;
    }
    .icon-unchecked {
      display: inline-block;
    }
    &.checked {
      .icon-checked {
        display: inline-block;
      }
      .icon-unchecked {
        display: none;
      }
    }
  }
}

.media-wrap {
  text-align: center;
  color: $color-light;
}

.media-a {
  padding: .3rem;
  font-size: $fz-xs;
}

.media-b {
  padding: .6rem 0 .3rem;
  font-size: $fz-normal;
  color: #626262;
}

.media-c {
  @include flexbox();
  @include box-align(center);
  .media-c-a {
    @include flex(1);
    span {
      font-size: .36rem;
    }
  }
  .media-c-b {
    @include flex(1);
  }
  .media-c-c {
    @include flex(1);
  }
}

.media-d {
  min-height: 1.52rem;
  padding: .36rem 0;
  i {
    line-height: 1;
    color: #434343;
  }
}

.media-e {
  text-align: center;
  margin-bottom: $space-normal;
  .btn {
    color: #ffffff;
    background-color: #d2d2d2;
    border-color: #d2d2d2;
  }
}

.media-btn-r {
  display: inline-block;
  text-align: center;
  width: 1.48rem;
  height: 1.48rem;
  line-height: 1.48rem;
  @include x-border-radius(50%);
  background-color: $color-success;
  @include x-box-shadow((0 0 0px 7px rgba(48, 199, 147, 0.37), 0 0 0px 15px rgba(48, 199, 147, 0.1)));
  &.playing {
    @include x-animation(playing 2s ease-out infinite);
  }
  i {
    color: #ffffff;
    font-size: .7rem;
  }
  &.media-btn-outline {
    border: 2px solid $color-success;
    background-color: #ffffff;
    i {
      color: $color-success;
    }
  }
}

@keyframes playing {
  0% {
    @include x-box-shadow(none);
  }
  60% {
    @include x-box-shadow((0 0 0px 7px rgba(48, 199, 147, 0.37), 0 0 0px 15px rgba(48, 199, 147, 0.1)));
  }
  100% {
    @include x-box-shadow(none);
  }
}

.media-re-btn {
  display: inline-block;
  width: .8rem;
  height: .8rem;
  line-height: .8rem;
  color: #ffffff;
  @include x-border-radius(50%);
  background-color: #d2d2d2;
  &.usable {
    background-color: $color-danger;
  }
}

.media-wb {
  .media-new {
    padding: .8rem .3rem .7rem;
    dt {
      font-size: .42rem;
      color: $color-darker;
    }
    dd {
      font-size: $fz-sm;
      color: $color-lighter;
    }
  }
  .media-status {
    margin-top: .6rem;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    font-size: $fz-xs;
  }
  .media-e {
    margin-top: .2rem;
  }
}

.uploader-box {
  min-height: 5.12rem;
  padding: $space-sm $space-normal;
  * {
    @include x-box-sizing(content-box);
  }
}

.ui-list-panel {
  background-color: transparent;
  .ui-media-box {
    background-color: #fff;
    &:after {
      content: " ";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      border-top: 1px solid #E5E5E5;
      color: #E5E5E5;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      left: 0;
    }
    & + .ui-media-box {
      margin-top: $space-sm;
      &:before {
        left: 0;
      }
    }
  }
  .ui-media-img {
    li {
      width: 1.86rem;
      height: 1.86rem;
    }
  }
}

.loading-more {
  padding: $space-sm;
  text-align: center;
  color: $color-light;
  text-shadow: 1px 1px 0 rgb(255, 255, 255);
  background-color: #f5f5f5;
}

.comment-panel {
  .comment-panel-header {
    padding: 0 $space-normal;
    color: $color-light;
  }
  .comment-panel-body {
    background-color: #fff;
  }
  .ui-media-box {
    .ui-media-hd {
      width: .5rem;
      height: .5rem;
      line-height: .5rem;
    }
  }
}

.reply-box {
  position: relative;
  margin-top: $space-xs;
  padding: $space-xs;
  background-color: #f5f5f5;
  @include x-border-radius(2px);
  li {
    margin-bottom: .04rem;;
  }
  a {
    color: $color-success;
  }
}

.reply-fixed-wrap {
  top: 0;
  right: 0;
  z-index: 11;
  @include x-transition(all ease-out .5s);
  @include x-transform(translateX(100%));
  &.focus {
    @include x-transform(translateX(0));
  }
  .reply-header {
    @include flexbox();
    @include box-align(center);
    padding: .3rem $space-sm;
    h2 {
      @include flex(1);
      font-size: .28rem;
      color: $color-darker;
      font-weight: normal;
    }
    .back-link {
      font-size: .26rem;
      color: $color-light;
    }
    .submit-link {
      font-size: .26rem;
      color: $color-success;
    }
  }
  .reply-body {
    padding: $space-sm;
  }
}

.jia-reply {
  padding: .15rem $space-sm;
  @include x-box-shadow(0 -3px 2px rgba(0, 0, 0, .05));
  .jia-reply-inner {
    padding: 0 $space-sm;
    line-height: .5rem;
    border: 1px solid #e5e5e5;
    background-color: #f7f7f7;
    @include x-border-radius(.05rem);
    color: $color-light;
    font-size: $fz-xs;
    text-align: left;
  }
}

.center-header {
  background-color: $color-success;
  padding: .4rem 0 .2rem;
  &.has-bg {
    padding: .75rem 1rem 1rem;
    background: url(../images/center-header.jpg) center no-repeat;
    @include x-background-size(cover);
  }
  dl {
    text-align: center;
    dt {
      img {
        width: 1.18rem;
        height: 1.18rem;
        border: .04rem solid #fff;
        @include x-border-radius(50%);
      }
    }
    dd {
      margin-top: .1rem;
      color: #ffffff;
      font-size: $fz-normal;
    }
  }
}

.edit-info {
  .weui_cell_primary {
    font-size: $fz-sm;
    color: #9a9a9a;
  }
}

.info-list {
  .weui_cell {
    padding: .28rem $space-normal;
    &:before {
      left: 0;
    }
  }
  .weui_cell_hd {
    i {
      font-size: .4rem;
      color: $color-success;
      margin-right: $space-normal;
    }
  }
  .weui_cell_bd {
    font-size: .26rem;
    color: $color-darker;
  }
}

.ui-media-reply {
  padding-top: $space-xs;
  @include flexbox();
  .media-reply-hd {
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    margin-right: .15rem;
    img {
      vertical-align: top;
      width: 100%;
      height: 100%;
      @include x-border-radius(50%);
    }
  }
  .media-reply-bd {
    @include flex(1);
    h5 {
      font-weight: normal;
      color: $color-darker;
      .pull-right {
        color: $color-lighter;
        font-size: $fz-xs;
      }
    }
  }
}

.center-tab-wrap {
  .weui_navbar_item {
    padding: .22rem 0 .2rem;
    line-height: 1.2;
    font-size: .26rem;
    small {
      display: block;
    }
  }
  .weui_tab_bd {
    padding-top: 1rem !important;
  }
}

.center-media-img {
  padding: $space-sm;
  @include x-clearfix();
  li {
    float: left;
    width: 2.94rem;
    height: 2.94rem;
    margin-right: .1rem;
    margin-bottom: .1rem;
    &:nth-child(2n) {
      margin-right: 0;
    }
    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      @include x-background-size(cover);
      background-position: center;
    }
  }
}
.bot-dis{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: $space-xs $space-sm;
  @include x-clearfix();
}

.center-media-vidio {
  li {
    a {
      position: relative;
      &:before {
        content: "\e623";
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -.36rem;
        margin-left: -.36rem;
        font-family: "iconfont" !important;
        line-height: 1;
        font-size: .72rem;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        color: #ffffff;
        text-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
      }
    }
  }

}

.center-mark {

}

.mark-wrap {
  padding: $space-normal;
}

.mark-header {
  font-size: .42rem;
  color: $color-success;
  font-weight: bold;
  margin-bottom: $space-xs;
}

.local-box {
  position: relative;
  padding-left: .5rem;
  dt {
    i {
      position: absolute;
      left: 0;
      top: -.04rem;
      color: $color-success;
    }
    font-size: $fz-normal;
  }
  dd {
    color: $color-light;
  }
}

.mark-panel {
  margin-left: $space-sm;
  padding: $space-xs 0 $space-normal $space-normal;
  border-left: 1px solid #e0e0e0;
  .mark-panel-header {
    position: relative;
    font-size: $fz-sm;
    &:before {
      content: "";
      position: absolute;
      width: .14rem;
      height: .14rem;
      line-height: .14rem;
      left: -.39rem;
      top: .1rem;
      background-color: $color-success;
      @include x-border-radius(50%);
    }
    .pull-right {
      color: $color-normal;
      i {
        font-size: $fz-sm;
      }
    }
  }
}

.postcard-container {
  height: 100%;
  .postcard-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    @include x-background-size(cover);
    -webkit-filter: blur(20px); /* Chrome, Opera */
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
  }
}

.postcard-bg-a {
  position: absolute;
  left: 50%;
  margin-left: -3.03rem;
  bottom: 1.15rem;
  width: 6.06rem;
  height: 4.31rem;
  background: url(../images/postcard-bg-a.png) center top no-repeat;
  @include x-background-size(contain);
}

.postcard-bg-b {
  position: absolute;
  left: 50%;
  margin-left: -2.47rem;
  bottom: .4rem;
  width: 4.94rem;
  min-height: 8.4rem;
  background: #fff url(../images/postcard-bg-b.png) .15rem .15rem no-repeat;
  @include x-background-size(4.64rem);
  @include x-border-radius(.06rem);
  @include x-box-shadow(0 0 10px rgba(51, 51, 51, 0.48));
  overflow: hidden;
  .postcard-inner {
    padding: 1.05rem $space-sm $space-sm;
    .ui-audio-bar{
      width:auto;
    }
    .ui-media-video {
      .media-video-link{
        width: 4.54rem;
        height: 2.42rem;
      }
    }
  }
}

.postcard-bg-c {
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -3.03rem;
  bottom: 0;
  width: 6.06rem;
  height: 3.03rem;
  padding-top: 1.8rem;
  background: url(../images/postcard-bg-c.png) center bottom no-repeat;
  @include x-background-size(contain);
  .btn {
    padding: .15rem 0.5rem;
  }
}

.post-date {
  position: absolute;
  right: .25rem;
  top: .55rem;
  color: #55312b;
  font-size: $fz-xs;
}

.postcard-header {
  @include flexbox();
  dt {
    padding-right: $space-xs;
    color: $color-light;
  }
  dd {
    @include flex(1);
    color: $color-darker;
  }
}

.postcard-text {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  border: 0;
  font-size: $fz-sm;
  background-color: transparent;
  @include x-placeholder($color-normal);
  &:focus {
    outline: 0;
  }
}

.postcard-body {
  -webkit-appearance: none;
  line-height: .46rem;
  height: 1.84rem;
  overflow: hidden;
  color: $color-light;
  font-size: $fz-sm;
  white-space: normal;
  word-break: break-all;
  width: 100%;
  background: transparent;
  border: 0;
  resize: none;
  &:focus {
    outline: 0;
  }
}

.postcard-footer {
  padding: $space-xs 0;
  @include flexbox();
  dt {
    @include flex(1);
    padding-right: $space-xs;
    color: $color-light;
    text-align: right;
  }
  dd {
    min-width: .9rem;
    color: $color-darker;
  }
}

.postcard-img {
  max-height: 4.48rem;
  overflow: hidden;
}

.edit-btn-wrap {
  text-align: center;
  margin-top: .5rem;
  .btn {
    min-width: 1.8rem;
  }
}

.pswp__button--postcard {
  background: none !important;
  width: auto !important;
  color: #ffffff;
  i {
    vertical-align: middle;
    color: #fff;
    font-size: .52rem;
    margin-right: 4px;
  }
}

.postcard-list {
  background-color: #ffffff;
  .weui_media_box.weui_media_appmsg {
    @include box-align(flex-start);
    .weui_media_hd {
      width: .9rem;
      height: .9rem;
      background: center no-repeat;
      @include x-background-size(cover);
    }
    .weui_media_title {
      font-size: $fz-sm;
      color: $color-light;
      margin-bottom: $space-xs;
      small {
        font-size: $fz-xs;
      }
    }
    .weui_media_desc {
      font-size: $fz-normal;
      color: $color-normal;
    }
  }
}

.pswp img {
  max-width: 100%;
}

.pswp__zoom-wrap {
  @include flexbox();
  @include box-align(center);
}

.map-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/map-wrap.jpg) center no-repeat;
  @include x-background-size(cover);
  .an-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2.7rem;
    margin-left: -1.83rem;
    padding-top: .25rem;
    width: 1.44rem;
    height: 1.44rem;
    background-color: $color-success;
    @include x-border-radius(.72rem);
    text-align: center;
    color: #ffffff;
    font-size: $fz-sm;
    line-height: 1.3;
    @include x-box-shadow((0 0 0px 7px rgba(48, 199, 147, 0.37), 0 0 0px 15px rgba(48, 199, 147, 0.1)));
    @include x-animation(playing 2s ease-out infinite);
    i {
      font-size: .4rem;
    }
  }
}

.video-img-box {
  height: 2rem;
  margin-bottom: .54rem;
  background-color: #535353;
  background-position: center;
  @include x-background-size(cover);
}

.mark-body {
  .ui-media-img {
    li {
      width: 1.68rem;
      height: 1.68rem;
      line-height: 1.68rem;
    }
  }
}

.no-msg{
  padding:$space-larger $space-sm;
  text-align: center;
}


.media-page-wrap{
  font-family:"Microsoft YaHei";
  margin: 0 auto;
  max-width: inherit;
  width: 1080px;
  height: 1920px;
  font-size: 14px;
  background: #fff url(../images/media-page-bg.jpg) 0 0 no-repeat;
  padding: 0 57px;
}
.page-a-header{
  height: 177px;
  padding-top: 85px;
  padding-left: 50px;
  color: #ffffff;
  font-size: 48px;
}
.page-a-body{
  height: 830px;
  padding: 60px 50px 100px;
}
.page-b-header{
  height: 160px;
  padding-top: 58px;
  padding-left: 40px;
  color: #ffffff;
  font-size: 38px;
  line-height: 80px;
  strong{
    margin:-20px 5px 0;
    display: inline-block;
    line-height: 1;
    font-size: 60px;
    vertical-align: middle;
  }
}
.media-page-b{
  position: relative;
}
.step-list{
  padding-left: 20px;
  li{
    height: 105px;
    img{
      width: 75px;
      height: 75px;
      @include x-border-radius(50%);
    }
    .name{
      display: inline-block;
      padding-left: 30px;
      padding-right: 15px;
      font-size: 30px;
      color: #ffffff;
      width: 200px;
      @include x-text-overflow(ellipsis);
      vertical-align: middle;
    }
    .step-status{
      font-size: 27px;
      color: #3a60d2;
      vertical-align: middle;
    }
  }
}
.ewm-box{
  position: absolute;
  right: 20px;
  bottom: 210px;
  background-color: #ffffff;
  padding: 25px;
  @include x-border-radius(5px);
  dl{
    text-align: center;
    dd{
      line-height: 50px;
      font-size: 30px;
      color: #3a60d2;
    }
  }
}

.share-wrap{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  z-index: 100;
  background:  url(../images/share-bg.png) right $space-normal no-repeat rgba(0,0,0,0.7);
  @include x-background-size(3.62rem);
}
