@import "common";

.fix-btn-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  z-index: 10;
  ul {
    @include flexbox();
    @include box-align(center);
    li {
      @include flex(1);
      a {
        display: block;
        color: $color-normal;
        line-height: 1;
        padding: .1rem 0;
        font-size: .16rem;
        i {
          display: block;
          font-size: .42rem;
          &.change-icon {
            display: none;
          }
        }
        &.main-btn {
          display: inline-block;
          padding: .05rem .2rem;
          @include x-border-radius(.1rem);
          background-color: $color-success;
          i {
            color: #ffffff;
            font-size: .5rem;
          }
        }
      }
      &.active {
        a {
          color: $color-success;
          i {
            &.normal-icon {
              display: none;
            }
            &.change-icon {
              display: block;
            }
          }
        }
      }
    }
  }
}

.head-img-box{
  .head-img-link{
    position: relative;
    display: block;
    img{
      width: 100%;
      vertical-align: top;
    }
    .pic-info{
      position: absolute;
      bottom: .15rem;
      right: .15rem;
      padding: .2rem .5rem  .2rem .22rem;
      line-height: .25rem;
      font-size: .22rem;
      color: #d5dade;
      background-color: rgba(0, 0, 0, 0.8);
      i{
        position: absolute;
        right: .2rem;
        bottom: .2rem;
        font-size: .2rem;
      }
    }
  }
}
.header-weather-box{
  position: absolute;
  top: .3rem;
  left: .3rem;
  color: #fff;
  line-height: 1;
  text-shadow: 1px 1px 0 $color-darker;
  dt{
    margin-bottom: .08rem;
    font-size: .42rem;
    small{
      font-size: .24rem;
    }
  }
  dd{
    font-size: .34rem;
    font-weight: bold;
    small{
      font-size: .24rem;
      font-weight: normal;
    }
  }
}

.ui-panel{
  .weui_panel_hd{
    padding: $space-sm $space-normal $space-xs;
    font-size: .3rem;
    color: $color-darker;
    &:after{
      left: $space-normal;
    }
  }
}
.panel-inner{
  padding:$space-sm $space-normal;
}

.place-describe{
  &.open{
    .describe-body{
      height: auto;
    }
    .control-btn{
      i{
        &.icon-unfold{
          display: none;
        }
        &.icon-fold{
          display: inline-block;
        }
      }
    }
  }
  .describe-body{
    height: 2.76rem;
    line-height: .46rem;
    overflow: hidden;
    text-align: justify;
  }
  .control-btn{
    text-align: center;
    i{
      color: $color-darker;
      font-size: .2rem;
      &.icon-fold{
        display: none;
      }
    }
  }
}






